<template name="_tabsNewspaper">
  {{#ionTabs style="android" class="tabs-newspaper"}}
    {{> ionTab title="Capa" path="tabs.indexNewspaper" }}
    {{> ionTab title="Últimas" path="tabs.latestNewspaper" }}
    {{> ionTab title="Seção" path="tabs.sectionNewspaper" }}
    {{> ionTab title="Colunas" path="tabs.columnsNewspaper" }}
    {{> ionTab title="Especiais" path="tabs.specialsNewspaper" }}
    {{> ionTab title="Fotos" path="tabs.photosNewspaper" }}
    {{> ionTab title="Vídeos" path="tabs.videosNewspaper" }}
  {{/ionTabs}}
</template>
