<template name="television">

  {{#contentFor "headerButtonLeft"}}
    <a href="{{ pathFor 'index' }}" class="buttons button button-clear back-button pull-left" ontouchstart="IonNavigation.skipTransitions = true; return true;">
      <i class="icon ion-android-arrow-back"></i>
    </a>
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title center">
      <img src="/images/television/logo-white-hor.png" height="32" />
    </h1>
  {{/contentFor}}

   {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" data-ion-popover="_popoverTelevision">
      {{> ionIcon icon='android-more-vertical'}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList class="television-programs"}}
      {{#each programList}}
        <section class="section-program">
          {{#if categoryValid}}<strong>{{category_name}}</strong>{{/if}}

          {{#ionItem path="tabs.timelineTelevision" data-action="goProgram"}}
            <img src="{{image_avatar}}" width="100%" />
          {{/ionItem}}

        </section>
      {{/each}}
      {{/ionList}}

    {{/ionContent}}
  {{/ionView}}
</template>


<!-- {{#ionItem path="tabs.timeline" iconLeft=true iconRight=true}}
{{> ionIcon icon="ios-checkmark" class="positive"}}
Tabs
{{> ionIcon icon="ios-arrow-right"}}
{{/ionItem}} -->