.television-page {
  .bar {
    //background-color:#798B91;

    background: rgb(121,139,145)!important;
    background: -moz-linear-gradient(-45deg,  rgba(121,139,145,1) 0%, rgba(171,188,188,1) 100%)!important;
    background: -webkit-linear-gradient(-45deg,  rgba(121,139,145,1) 0%,rgba(171,188,188,1) 100%)!important;
    background: linear-gradient(135deg,  rgba(121,139,145,1) 0%,rgba(171,188,188,1) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#798b91', endColorstr='#abbcbc',GradientType=1 )!important;

  }

  .title {
    img {margin:6px;display:inline-block;}
  }

  .view {background:#fff;}


  .television-programs {
    .section-program {
      strong {
        width: 100%;
        padding: 10px;
        background: #f8f8fc;
        color:#798B91;
        font-size: 14px;
        font-weight: 500;
        display: table;
      }
      .item {
        padding:0!important;margin:0 0 1px 0!important;border:0 none;
        background: #f8f8fc;
        img {display:block;}
        a {
          display:block;outline:0;
        }
      }
    }
  }

  .popover {
    .item {
      color:#666;margin:0!important;border:0 none!important;
    }
    .icon {
      font-size:22px;
    }
  }


  .tabs-television {
    .tabs{top:44px;background:#fff;border-bottom:0 none!important;}
  }

  .has-tab-program {
    .has-header {
      top: 95px!important;
      background: #f8f8fc;
      padding:20px 20px 48px 20px;
    }
  }

  .has-tabs-top {
    top:44px;
  }



  .message-item {
    margin-bottom:3rem;position:relative;
    .message-actions {
      display: table;
      margin-top:10px;
      position: relative;
      float: right;
      .message-cancel {
        color:#DD4B39;
      }
      .message-edit {}

      span {
        color:#999;font-size:16px;float:left;
      }
    }
    figure {
      margin:0;float:left;
      img {
        box-shadow:5px 6px 10px -11px #000!important;
        -moz-box-shadow:5px 6px 10px -11px #000!important;
        -webkit-box-shadow:5px 6px 10px -11px #000!important;
        border-radius:50%;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      }
    }
    .message-info {
      padding-left:58px;line-height:38px;height:38px;position:relative;
      .message-author {
        float:left;height:38px;line-height:28px;margin:0;padding-right:80px;overflow:hidden;width:100%;
        a {font-size:14px;color:#666;line-height:38px!important;height:38px!important;font-weight:600;text-decoration:none;white-space: nowrap;}
      }
      .message-date {
        float:right;color:#c8c8c9;font-size:12px;    position: absolute;right: 0;top: 0;
        img {
          float:left;margin-right:4px;margin-top:11px
        }
        span {float:left;white-space: nowrap;}
      }
    }
    .message-content {
     padding:10px; margin-left:55px!important;background:#fff;box-shadow:2px 2px 4px 0 rgba(0,0,0,.1);clear:right;
     border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;
     a {
      display:block;
     }
     p {
      color:#798B91;margin:0;
     }
     img {
      border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;margin-top:10px;max-height:820px;
     }
    }
  }


  .info-program {
    display:none;
    width: 100%;
    position: absolute;
    left: 0;
    top: 44px;
    background:#fff;
    z-index: 990;
    .program-description {
      color:#9FACB4;font-size:14px;line-height:18px;padding:0 0.75rem;letter-spacing:-0.01em;height: 38px;overflow: hidden;
    }
    small {font-size:12px;color:#C8C8C8;width:100%;display:table;}
    strong {
    color: #798B91;
    font-weight: 800;
    font-size: 16px;
    height: 22px;
    overflow: hidden;
    float: left;
    }
  }




  .tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated
  {
    border-color:#5796b5!important;color:#5796b5!important;
  }

  .popup {
    border-radius:10px!important;
    .button-positive {
      border-radius:50%!important;background:#5796b5!important;border:2px solid #5796b5!important;height:105px;
      i {
        color:#fff!important;font-size:36px!important;
      }
    }
  }




  .poll-result {
  width:100%;display:table;
}

.polls-content {

  .vote {
    span {
      &:before {position:absolute;left:0;top:-20px;font-size:10px;font-weight:bold;content:"MEU VOTO";color:#62A0BD;}
    }
  }

  .results-question {

    padding-top:0!important;

    .polls-answers-item {
      padding-left:185px !important;

      strong {
        position: absolute;
        left: 12px;
        top: 6px;
        font-size: 26px;
        color:#798B91;
      }

      img {
        left:130px !important;
      }
      span {color:#9e9e9e;}

      &:before {
        position: absolute;
        left: 145px;
        top: 13px;
        width: 10px;
        height: 10px;
        background: #D8D8D8;
        content: "";
        border-radius:50%;
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
      }
      &:after {
        position: absolute;
        left: 94px;
        top: 18px;
        width: 2px;
        height: 55px;
        background: #D8D8D8;
        content: "";
      }
      &:last-child {
         &:after {
          display:none!important;
         }
      }
    }

  }

  .polls-question {
    font-size: 18px;
    line-height: 22px;
    color:#7A8B91;
    display: table;
    margin-bottom: 10px;
    img {
      position:absolute;width:100%;border-radius:5px;top:0;left:0;width:100%;border-radius:0;
    }
  }
  .polls-answers {
    margin:10px 0;padding-top:105px;
    [type="checkbox"]:checked + label:before {
      border-bottom-color:#62A0BD!important;
      border-right-color:#62A0BD!important;
    }
    .polls-answers-item {
      margin-bottom:5px;display:block;position:relative;padding:5px 0;
      img {
        position:absolute;width:100%;border-radius:5px;top:0;left:0;width:100%;border-radius:0;
      }
      label {
        color:#666;font-size:14px;font-weight:400;margin-left:5px;display:inline;
      }
      span {
          position: relative;
          padding-left: 0;
          cursor: pointer;
          display: inline-block;
          height: 25px;
          line-height: 25px;
          font-size: 1rem;
          -webkit-user-select: none;
          -moz-user-select: none;
          -khtml-user-select: none;
          -ms-user-select: none;
      }
    }
    .poll-answers-footer {
      position:fixed;bottom:0;left:0;width:100%;
      .btn {
        width:100%;border-radius:0!important;-webkit-border-radius:0!important;-moz-border-radius:0!important;background:#84D672;font-weight:bold;color:#fff!important;padding:0;border:0 none!important;
        i {font-size:32px;}
      }
    }
  }
}


}



.play-tv {
  width:100%;
  margin:0;
  float:left;

  iframe {
    display:block;
  }

}

.program-interact {
  display:table;padding:6px 14px;background:#FBC02D;color:#2d2d2d;border-radius:28px;margin:0 auto;
  font-size:14px;white-space: nowrap;text-decoration: none;
}


.live-tv {
  .title {
    color:#fff!important;
  }
}



#mais {
      border-radius: 5px;
    padding: 12px;
      text-align:center;
    width: 100%;
    display: table;
    margin: 20px auto;
    color: #fff;
    font-weight: bold;
    background: #798B91;
    font-size: 14px;
}

