<template name="television">

  {{#contentFor "headerButtonLeft"}}
    <a href="{{ pathFor route='index' }}" class="buttons button button-clear back-button pull-left">
      <i class="icon ion-android-arrow-back"></i>
    </a>
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title center">
      <img src="/images/television/logo-white-hor.png" height="32" />
    </h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList class="television-programs"}}

      {{> _liveTV }}

      {{#each programList}}
        <div class="section-program">
          {{#if categoryValid}}<strong>{{category_name}}</strong>{{/if}}

          {{#ionItem path="tabs.timelineTelevision" data-action="goProgram"}}
            <img src="{{image_avatar}}" width="100%" />
          {{/ionItem}}

        </div>
      {{/each}}
      {{/ionList}}

    {{/ionContent}}
  {{/ionView}}
</template>