<template name="_tabsPortal">
  {{#ionTabs style="android" class="tabs-portal"}}
    {{> ionTab title="Home" path="tabs.indexPortal" }}
    {{> ionTab title="Últimas" path="tabs.latestPortal" }}
    {{> ionTab title="Editoria" path="tabs.sectionPortal" }}
    {{> ionTab title="Blogs" path="tabs.blogsPortal" }}
    {{> ionTab title="Cidades" path="tabs.cityPortal" }}
    {{> ionTab title="Vídeos" path="tabs.videosPortal" }}
    {{> ionTab title="Fotos" path="tabs.photosPortal" }}
  {{/ionTabs}}
</template>
