<template name="_enterConfirmRegister">

  <div class="form-pattern enterConfirm">

    <div class="input-field">
      <p>{{ confirmDataEmailRegister }}</p>
      <input id="enterConfirm_cod" name="enterConfirm_cod" type="text" placeholder="Codigo aqui">
    </div>

    <button type="submit" class="button button-block button-submit confirmRegister">
      <i class="icon-ok"></i>
    </button>

    <button type="submit" class="button button-block button-submit resetCodeRegister">
      Solicitar outro codigo!
    </button>

  </div>

</template>