<template name="_enterConfirm">

  <div class="form-pattern enterConfirm ">

    <a href="#" class="close-confirm">
      <i class="icon-cancel-1"></i>
    </a>

    <div class="input-field">
      <p>* O código usa case sensitive, então preencha da forma que foi gerado.</p>
      <label for="password">{{ confirmDataEmail }}: *</label>
      <input id="enterConfirm_cod" name="enterConfirm_cod" type="text" value="Codigo aqui">

    </div>

    <button type="submit" class="button button-block button-submit">
      Confirmar Registro
    </button>

  </div>

</template>