<template name="_enterEmail">
  {{#ionModal title="Entre com email" class="bar-light"}}

    <div class="log-in form-pattern padding">

      <div class="input-field">

        <label for="mail">Email</label>
        <input id="accountPassword_email" name="mail" type="text" placeholder="Digite seu email">

      </div>

      <div class="input-field">

        <label for="password">Senha</label>
        <input id="accountPassword_password" name="password" type="password" placeholder="Digite sua senha">

      </div>

      <span class="reset-password">
        Não lembro minha senha. <a class="btn-reset-pass" href="#" title="">Recuperar</a>
      </span>

      <button type="submit" data-service="password" class="button button-block button-submit bg-password">
        <i class="icon-ok"></i>
      </button>
    </div>

    {{> _resetPassword }}

  {{/ionModal}}
</template>