<template name="_enterConfirm">

  <div class="form-pattern enterConfirm">

    <div class="input-field">
      <p>O código usa case sensitive, então preencha da forma que foi gerado.</p>
      <!-- <label for="enterConfirm_cod">{{ confirmDataEmail }}</label> -->
      <input id="enterConfirm_cod" name="enterConfirm_cod" type="text" placeholder="Codigo aqui">
    </div>

    <button type="submit" class="button button-block button-submit">
      <i class="icon-ok"></i>
    </button>

  </div>

</template>