<template name="_enterRegister">
  {{#ionModal title="Faça seu cadastro" class="bar-light"}}
    <div class="form-pattern padding enterRegister">

      <div class="input-field">

        <label for="name">Nome *</label>
        <input id="accountPassword_registerName" name="name" type="text" placeholder="Digite seu nome">

      </div>

      <div class="input-field">

        <label for="mail">Email *</label>
        <input id="accountPassword_registerEmail" name="mail" type="text" placeholder="Digite seu email">

      </div>

      <div class="input-field">

        <label for="password">Senha *</label>
        <input id="accountPassword_registerPassword" name="password" type="password" placeholder="Digite sua senha">

      </div>


      <button type="submit" class="button button-block button-submit register">
        <i class="icon-ok"></i>
      </button>



    </div>

    {{> _enterConfirmRegister }}

  {{/ionModal}}
</template>