<template name="_resetPassword">

  <div class="new-password form-pattern">

    <div class="input-field">

      <label for="password">Qual seu email?</label>
      <input id="resetPassword_email" name="resetPassword_email" type="text" placeholder="Digite seu email">

    </div>

    <button type="submit" class="button button-block button-submit reset-password">
      <i class="icon-ok"></i>
    </button>

    <button type="submit" class="button button-block button-cancel">
      <i class="icon-cancel-3"></i>
    </button>



  </div>

  {{> _resetConfirmPassword }}

</template>