<template name="_resetConfirmPassword">

  <div class="form-pattern enterConfirm">

    <div class="input-field">
      <p>Nova senha:</p>
      <input id="resetConfirm_password" name="resetConfirm_password" type="text" placeholder="Coloque a nova senha aqui">

      <p>{{ confirmDataEmailPassword }}</p>
      <input id="resetConfirm_cod" name="resetConfirm_cod" type="text" placeholder="Codigo aqui">
    </div>

    <button type="submit" class="button button-block button-submit confirmPassword">
      <i class="icon-ok"></i>
    </button>

    <button type="submit" class="button button-block button-submit resetCodePassword">
      Solicitar outro codigo
    </button>

  </div>

</template>