<template name="infoTv">
  {{#ionModal title="Informações" class="bar-television"}}
    {{#if info}}
      {{#each info}}
        <div class="info-program">
          <div class="fullItem">
            <div  class="item item-data">
              <small class="itemTitle">DIA(S)</small>
              <div id="programDias" class="itemElement truncate">
                <span>
                  <i class="ion-ios-close-empty"></i>
                  <strong>{{ day_monday }}</strong>
                </span>
                <span>
                  <i class="ion-ios-close-empty"></i>
                  <strong>{{ day_tuesday }}</strong>
                </span>
                <span>
                  <i class="ion-ios-close-empty"></i>
                  <strong>{{ day_wednesday }}</strong>
                </span>
                <span>
                  <i class="ion-ios-checkmark-empty"></i>
                  <strong>{{ day_thursday }}</strong>
                </span>
                <span>
                  <i class="ion-ios-checkmark-empty"></i>
                  <strong>{{ day_friday }}</strong>
                </span>
                <span>
                  <i class="ion-ios-checkmark-empty"></i>
                  <strong>{{ day_saturday }}</strong>
                </span>
                <span>
                  <i class="ion-ios-checkmark-empty"></i>
                  <strong>{{ day_sunday }}</strong>
                </span>
              </div>
            </div>
            <div class="item">
              <small class="itemTitle">HORÁRIO</small>
              <div class="itemElement truncate">
                <span id="programHoraInicial">
                  {{ hour_begin }}
                </span> às
                <span id="programHoraFinal">
                  {{ hour_end }}
                </span>
              </div>
            </div>
          </div>
          <p class="program-description">
            {{ description }}
          </p>
        </div>
      {{/each}}
    {{else}}
      {{> loading }}
    {{/if}}
  {{/ionModal }}
</template>
