<template name="infoTv">
  {{#ionModal title="Informações" class="bar-television"}}
    {{#if info}}
      {{#each info}}
        <div class="info-program">
          <div class="fullItem">
            <div  class="item item-data">
              <small class="itemTitle">DIA(S)</small>
              <div id="programDias" class="itemElement truncate">
                <span>
                  {{#if day_monday}}
                    <i class="ion-ios-checkmark-empty"></i>
                    <strong>seg</strong>
                  {{else}}
                    <div class="mute">
                      <i class="ion-ios-close-empty"></i>
                      <strong>seg</strong>
                    </div>
                  {{/if}}
                </span>
                <span>
                  {{#if day_tuesday}}
                    <i class="ion-ios-checkmark-empty"></i>
                    <strong>ter</strong>
                  {{else}}
                    <div class="mute">
                      <i class="ion-ios-close-empty"></i>
                      <strong>ter</strong>
                    </div>
                  {{/if}}
                </span>
                <span>
                  {{#if day_wednesday}}
                    <i class="ion-ios-checkmark-empty"></i>
                    <strong>qua</strong>
                  {{else}}
                    <div class="mute">
                      <i class="ion-ios-close-empty"></i>
                      <strong>qua</strong>
                    </div>
                  {{/if}}
                </span>
                <span>
                  {{#if day_thursday}}
                    <i class="ion-ios-checkmark-empty"></i>
                    <strong>qui</strong>
                  {{else}}
                    <div class="mute">
                      <i class="ion-ios-close-empty"></i>
                      <strong>qui</strong>
                    </div>
                  {{/if}}
                </span>
                <span>
                  {{#if day_friday}}
                    <i class="ion-ios-checkmark-empty"></i>
                    <strong>sex</strong>
                  {{else}}
                    <div class="mute">
                      <i class="ion-ios-close-empty"></i>
                      <strong>sex</strong>
                    </div>
                  {{/if}}
                </span>
                <span>
                  {{#if day_saturday}}
                    <i class="ion-ios-checkmark-empty"></i>
                    <strong>sáb</strong>
                  {{else}}
                    <div class="mute">
                      <i class="ion-ios-close-empty"></i>
                      <strong>sáb</strong>
                    </div>
                  {{/if}}
                </span>
                <span>
                  {{#if day_sunday}}
                    <i class="ion-ios-checkmark-empty"></i>
                    <strong>dom</strong>
                  {{else}}
                    <div class="mute">
                      <i class="ion-ios-close-empty"></i>
                      <strong>dom</strong>
                    </div>
                  {{/if}}
                </span>
              </div>
            </div>
            <div class="item">
              <small class="itemTitle">HORÁRIO</small>
              <div class="itemElement truncate">
                <span id="programHoraInicial">
                  {{ hour_begin }}
                </span> às
                <span id="programHoraFinal">
                  {{ hour_end }}
                </span>
              </div>
            </div>
          </div>
          <p class="program-description">
            {{ description }}
          </p>
        </div>
      {{/each}}
    {{else}}
      {{> loading }}
    {{/if}}
  {{/ionModal }}
</template>
