<template name="resultsPollsTelevision">
   <div class="polls-answers results-question hide">
    {{#each pollsResult}}
      <strong class="polls-question">
        <img src="{{ img }}" height="40" /> {{ description }}
      </strong>
    {{/each}}

    {{#each answersResult}}
    <div class="polls-answers-item {{ voto }}">
      <span class="description">{{description}}</span>
      <small class="percent" style="width:{{porcent}}%">
        <span>{{porcent}}%</span>
      </small>
    </div>
    {{/each}}
  </div>

</template>
