<template name="_askMusic">
  {{#ionModal title="Peça uma música" class="bar-radio ask-music"}}

     <div class="form-pattern modal-content">

      <div class="padding">

        <div class="input-field">

          <label for="artist">Artista</label>
          <input id="artist" type="text" value="">

        </div>

        <div class="input-field">

          <label for="music">Música</label>
          <input id="music" type="music" value="">

        </div>

      </div>

    </div>

    <div class="modal-footer">
      <a class="button button-positive" href="#">
        ENVIAR
      </a>
    </div>

  {{/ionModal}}
</template>
