<template name="_tabsHeaderRadio">
  {{#ionHeaderBar class="bg-assertive"}}

    <button class="buttons button button-clear back-button pull-left" data-action="no-history">
      <i class="icon ion-android-arrow-back"></i>
    </button>

    <h1 class="title logo-radio">
      <img src="{{image_avatar}}" height="46" />
      <!-- {{ name }} -->
    </h1>

    <div class="side-right">

      <div class="player">
        <audio class="aud hide"></audio>
        <a class="player-button">
          <i class="icon-play"></i>
          <i class="icon-pause hide"></i>
        </a>
      </div>

      <div class="music">
        <a href="#" title="" class="music-button" data-ion-modal="_askMusic">
          PEDIR MÚSICA
        </a>
      </div>

  </div>

  {{/ionHeaderBar}}
</template>
