// Página inicial (Sistema Meio Norte)
.home-page {

  color:#fff;

  .bar {
    border:0 none!important;
  }

  .view {background: #445DA2;}

  .title {
    overflow:visible!important;top:44px!important;text-align:center!important;
    img {
      display:inline-block;
    }
  }

  .scroll-content .content {
    width:100%;top:200px;
  }

  .box-index {
     position:relative;padding:45px 0 10px 0;background:rgba(0,0,0,0.13);width:48%!important;color:#fff;    float: left;margin: 1%;text-align:center;height:140px;
     a {
      color:#fff;text-decoration: none;
     }
     img {
      margin:0 auto;
     }
     small {
      font-weight:bold;position:absolute;left:0;top:0;height:30px;line-height:30px;text-align:center;width:100%;background:rgba(0,0,0, 0.2);
     }
     strong {
      float:left;width:100%;text-align:center;display:none;
     }
   }

  .menu-left {
    position:relative;background:#fff;height:100%;
    .bar-header {
      height:80px!important;
      .item-avatar {
        strong {
          margin-top:10px;float:left;color:#212121;
        }
        span {
          color:#999;
        }
      }
    }
    .content {
      top:80px;
      .item {
        color:#999;border-color:#e5e5e5;font-size:14px;font-weight:500;
      }
    }
    .item-logout {
      position:absolute;bottom:0;left:1px;width:100%;border-left:0!important;border-right:0!important;cursor:pointer;color:#999;font-size:14px;font-weight:500;
    }
    .item-icon-right {
      .icon {
        font-size:22px;
      }
    }
  }




}





.bar-profile {
  .bar {
    background:#f8f8fc!important;
    .title {
      color:#666!important;
    }
    .button {
      color:#666!important;top:0!important;
    }
  }

  .has-header {
    background:#fff!important;
  }

}


.change-television {
  .item {
    &:active {
      background:#f8f8f8;
    }
    &:focus {
      background:#f8f8f8;
    }
  }
}